/* Function to generate new fonts*/
@mixin newFont($fontFamily, $fileName){
    $path: 'assets/fonts/' + $fileName+ '/'+ $fileName;
    
    @font-face {
        font-family: $fontFamily;
        src: url($path + '.eot');
        src: url($path +'.eot?#iefix') format('embedded-opentype'),
             url($path +'.woff') format('woff'),
             url($path +'.ttf') format('truetype'),
             url($path +'.svg#'+$fontFamily) format('svg');
        font-weight: normal;
        font-style: normal;
    }
}

/* Hero Font */
@include newFont('Hero','hero');

/* Chakra font */
@include newFont('Chakra','ChakraPetch-Light');



